<div class="main-historico-content">
  <h2>Seu histórico</h2>
  <div class="solicitacoes-atividades-content">
    <div class="solicitacoes-content box-content">
      <div class="button-img">
        <button>Solicitações</button>
        <img src="../../../../../assets/images/arrow-right.png" alt="" />
      </div>
      <div class="number-content">
        <p>3</p>
      </div>
    </div>

    <div class="atividades-content box-content">
      <div class="button-img">
        <button>Atividades</button>
        <img src="../../../../../assets/images/arrow-right.png" alt="" />
      </div>
      <div class="number-content">
        <p>7</p>
      </div>
    </div>
  </div>
</div>
