<div class="card-details-content">
  <div class="details-content">
    <details>
      <summary>
        {{ summaryTitle }}<span><img src="../../../assets/images/marker.svg" alt="" /></span>
      </summary>
      <p>{{ summaryParagraph }}</p>
      <div class="button-save-share-content">
        <button>Acessar</button>
        <div class="icon-content">
          <a href=""><img src="../../../assets/images/bookmark.svg" alt="" /></a>
          <a href=""><img src="../../../assets/images/share.svg" alt="" /></a>
        </div>
      </div>
    </details>
  </div>
</div>
