@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.card-details-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 16px 0px 16px;

.card-title {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    @include title-1-bold;
    color: #464646;
  }

  a {
    color: $primary-darker;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }
  }

  .details-content {
   background-color: $neutral-lighter;
   border-radius: 8px;
   display: flex;
   align-items: center;
   overflow: hidden;
   transition: height 0.3s ease;


   details {
      @include body;
      width: 100%;
      height: auto;
      padding: 8px 16px;

      &[open] {
        background-color: $primary-lighter;
      }

      summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-weight: 700;
      cursor: pointer;
      }

      p {
        padding-top: 8px;
      }

      .button-save-share-content {
        padding-top: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon-content {
          width: 59px;
          display: flex;
          justify-content: space-around;

          a img {
            width: 14px;
            cursor: pointer;
          }
        }
      }



      div button {
        width: 99px;
        height: 40px;
        background-color: $primary-base;
        border-radius: 20px;
        border: none;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

}

@media (min-width: 601px) {

}




