<div class="home">
  <header>
    <h2>olá, Lara</h2>
    <a href=""><img src="../../assets/images/sinin.png" alt="" /></a>
  </header>
  <section class="home-section">
    <div class="content">
      <div class="annoucement">
        <div class="announcement-head">
          <h2>Comunicados</h2>
          <a routerLink="/announcement"><p>Ver tudo</p></a>
        </div>
        <app-announcements></app-announcements>
      </div>
      <div class="sub-content">
        <div class="activity">
          <div class="activity-head">
            <h2>Controle de Atividades</h2>
            <a href=""><p>ver tudo</p></a>
          </div>
          <app-activities class="activities"></app-activities>
        </div>
        <div class="reminder">
          <div class="reminder-head">
            <h2>Meus lembretes</h2>
            <a href=""><p>Ver tudo</p></a>
          </div>
          <app-reminder class="reminder"></app-reminder>
        </div>
      </div>
    </div>
  </section>
</div>
