@import '../../../../../styles/main.scss';

.desktop-only {
  display: none;
}

.home {
  display: flex;
  padding: 15px;
  justify-content: center;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 90px;
  }
}

.announcement-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 30px;
  }
  a {
    text-decoration: none;
    color: #2d9e94;
    p {
      font-size: 14px;
    }
  }
}

.activity-head {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 23px;
  }

  a {
    text-decoration: none;
    color: $primary-base;
    font-size: 14px;
  }
}

.reminder-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 23px;
  }

  a {
    text-decoration: none;
    color: $primary-base;
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .mobile-only {
    display: none;
  }

  .home {
    display: flex;
    padding: 15px;
    justify-content: center;

    header {
      display: none;
    }
    .home-section {
      display: flex;

      .content {
        padding: 20px 100px;
        margin-top: 20px;
        gap: 23px;
        display: flex;
        align-items: center;
        justify-items: center;

        .annoucement {
          justify-items: center;

          .desktop-only {
            width: 270px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border:
              $primary-base,
              solid 1px;
            border-radius: 14px;

            a {
              text-decoration: none;
              color: $primary-darker;
            }
          }
        }

        .announcement-head {
          display: flex;
        }
        .sub-content {
          display: flex;
          gap: 25px;
          flex-direction: column;

          .activity {
            max-width: 400px;
            min-width: 300px;
            align-items: center;
            background-color: $neutral-lightest;
            border-radius: 8px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            position: relative;

            .activity-head {
              display: flex;
              align-items: center;
              justify-items: center;
              padding: 20px;

              h2 {
                font-size: 23px;
              }

              p {
                font-size: 15px;
              }
            }
          }
          .reminder {
            max-width: 400px;
            min-width: 300px;
            width: 100%;
            background-color: $neutral-lightest;
            border-radius: 8px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            position: relative;

            .reminder-head {
              display: flex;
              align-items: center;
              justify-items: center;
              padding: 20px;

              h2 {
                font-size: 24px;
              }
              p {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-items: center;

    .sub-content {
      display: flex;
      width: 100%;
    }
  }
}
