<section class="reminder-section">
  <div class="reminder-head">
    <p>Meus lembretes</p>
    <a href=""><p>Ver tudo</p></a>
  </div>

  <app-reminder-card></app-reminder-card>
  <div class="filters">
    <!-- <button (click)="filtrarMetas('todas')">Todas</button>
      <button (click)="filtrarMetas('pendentes')">Pendentes</button>
      <button (click)="filtrarMetas('finalizadas')">Finalizadas</button> -->
  </div>
  <!-- <button (click)="adicionarMeta()">Adicionar Meta</button> -->
</section>
