// Cores Primárias

$primary-lightest: #c9dedc; // Mais claro
$primary-lighter: #8acbc5;
$primary-base: #2d9e94; // Cor principal
$primary-darker: #1b5c57;
$primary-darkest: #0d3431; // Mais escuro

// Cores Secundárias

$secondary-lighter: #decdc7; // Mais claro
$secondary-base: #d8b0a2; // Cor base
$secondary-darker: #765449; // Mais escuro

// Cores Neutras

$neutral-lightest: #fafafa; // Mais claro
$neutral-lighter: #f1f1f1;
$neutral-base: #868686; // Cor base
$neutral-darker: #464646;
$neutral-darkest: #111111; // Mais escuro
