
// Cores Primárias

$primary-lightest: #C9DEDC; // Mais claro
$primary-lighter: #8ACBC5;
$primary-base: #2D9E94; // Cor principal
$primary-darker: #1B5C57;
$primary-darkest: #0D3431; // Mais escuro

// Cores Secundárias

$secondary-lighter: #DECDC7; // Mais claro
$secondary-base: #D8B0A2; // Cor base
$secondary-darker: #765449; // Mais escuro

// Cores Neutras

$neutral-lightest: #FAFAFA; // Mais claro
$neutral-lighter: #F1F1F1;
$neutral-base: #868686; // Cor base
$neutral-darker: #464646;
$neutral-darkest: #111111; // Mais escuro








