<main>
  <div class="container">
    <header>
      <h2>Comunicação</h2>
    </header>
    <div class="description">
      <img src="../../../assets/images/Cool Kids Study.png" alt="" />
      <span>Fale com a sua escola</span>
      <p>
        Envie comentários, dúvidas ou sugestões sobre suas aulas, colegas, professores ou escola. Respeite as regras de
        convivência e lembre-se de que este é um espaço seguro para se expressar.
      </p>
    </div>
    <div class="buttons">
      <button class="new-request" routerLink="/new-request" routerLinkActive="active">Adicionar nova solicitação</button>
      <button class="tracking" routerLink="/tracking" routerLinkActive="active">Acompanhar solicitações</button>
    </div>
  </div>

  <app-new-request-card class="request"></app-new-request-card>
</main>
