<div class="content">
  <div class="container">
    <h2 class="logo">Educaê</h2>
    <a routerLink="/">
      <div class="home-bar">
        <img src="../../assets/images/Home.png" alt="" />
        <p>Home</p>
      </div>
    </a>
    <a href="">
      <div class="home-bar">
        <img src="../../assets/images/book.png" alt="" />
        <p>Aprenda</p>
      </div>
    </a>
    <a href="">
      <div class="home-bar">
        <img src="../../assets/images/messages.png" alt="" />
        <p>Comunicação</p>
      </div>
    </a>
    <a href="">
      <div class="home-bar">
        <img src="../../assets/images/perfil.png" alt="" />
        <p>Perfil</p>
      </div>
    </a>
  </div>
</div>
