<div class="aprenda">
  <header>
    <h2>Aprenda</h2>
    <a href=""><img src="../../assets/images/Search.png" alt="" /></a>
  </header>

  <section class="title-section">
    <h2>Neurodivergência</h2>
  </section>

  <section class="announcements-and-events-section">
    <div class="image-content">
      <img src="../../assets/images/Cool Kids Sitting.png" alt="" />
    </div>

    <div class="announcements-and-events-content">
      <h2>O que tem aqui?</h2>
      <p>
        Reunimos materiais sobre neurodivergência, acreditamos que a informação é um fator essencial para desenvolver empatia,
        reduzir preconceitos e tornar o ambiente acolhedor e seguro para todos.
      </p>
      <a href="">Link para a lei(...)</a>
    </div>
  </section>

  <section class="booklet-section">
    <app-card-list [detailsTitle]="cartilhaTitle" [summaryTitle]="cartilhaDetailsTitle" [summaryParagraph]="cartilhaParagraph">
    </app-card-list>
  </section>
</div>
