<div class="aprenda">
  <header>
    <h2>Aprenda</h2>
    <a href=""><img src="../../assets/images/search.png" alt="" /></a>
  </header>

  <section class="title-section">
    <h2>Neurodivergência</h2>
  </section>

  <section class="announcements-and-events-section">
    <div class="image-content">
      <img src="../../assets/images/Cool Kids Sitting.png" alt="" />
    </div>

    <div class="announcements-and-events-content">
      <h2>O que tem aqui?</h2>
      <p>
        Reunimos materiais sobre neurodivergência, acreditamos que a informação é um fator essencial para desenvolver empatia,
        reduzir preconceitos e tornar o ambiente acolhedor e seguro para todos.
      </p>
      <a href="">Link para a lei(...)</a>
    </div>
  </section>

  <section class="booklet-section">
    <!-- Start Cartilha -->

    <app-title-card-list [titleCardList]="cartilhaTitle"></app-title-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_1" [summaryParagraph]="cartilhaContent1"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_2"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_3"> </app-card-list>

    <!-- Start Aplicativos -->

    <app-title-card-list [titleCardList]="aplicativosTitle"></app-title-card-list>

    <app-card-list [summaryTitle]="aplicativosDetailsTitle_1"> </app-card-list>

    <app-card-list [summaryTitle]="aplicativosDetailsTitle_2"> </app-card-list>

    <app-card-list [summaryTitle]="aplicativosDetailsTitle_3"> </app-card-list>

    <!-- Start Audiovisual -->

    <app-title-card-list [titleCardList]="audiovisualTitle"></app-title-card-list>

    <app-card-list [summaryTitle]="audiovisualDetailsTitle_1"> </app-card-list>

    <app-card-list [summaryTitle]="audiovisualDetailsTitle_2"> </app-card-list>

    <app-card-list [summaryTitle]="audiovisualDetailsTitle_3"> </app-card-list>
  </section>
</div>
