@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.aprenda {
  display: flex;
  flex-direction: column;


header {
  height: 56px;
  border-bottom: 1px solid $neutral-lighter;
  flex-direction: row;
  @include flex-center;

  h2 {
    width: 100%;
    @include flex-center;
    padding-left: 16px;
  }

  a {
    @include flex-center;
    width: 24px;
    margin-right: 16px;
  }
}

.title-section {
  height: 58px;
  display: flex;
  align-items: center;

  h2 {
    padding-left: 16px;
    @include title-1-bold;
    color: #464646;
  }
}

.announcements-and-events-section {
  height: 190px;
  background-color: $secondary-lighter;
  display: flex;
  justify-content: flex-start;
  // border: 1px solid blue;
  padding-left: 10px;

  .image-content {
    width: 96px;
    @include flex-center;

    img {
      width: 96px;
    }
  }

  .announcements-and-events-content {
    min-width: 221px;
    display: flex;
    flex-direction: column;
    padding: 8px 17px 0px 8px;
    gap: 8px;

    h2 {
      @include title-2-bold;
    }

    p {
      @include body;
    }

    a {
      color: #111;
      font-family: Nunito;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }

  }
};
}

@media (min-width: 600px) {
  .aprenda {
    .announcements-and-events-content {
      p {
        font-size: 20px;
      }
    }
  }
}
