@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';


.main-perfil-usuario-content {
  height: 104px;
  display: flex;
  align-items: center;
  padding-left: 18px;

  img {
    padding-right: 14px;
  }

  p {
    color: $primary-base;
  }

  .name-and-year-grade-content {
    .user-name {
      color: $primary-base;
      font-weight: 700;
      font-size: 20px;
    }

    .year-grade {
      color: $neutral-darker;

    }
  }
}

@media(min-width: 1024px) {
  .main-perfil-usuario-content {
    margin-bottom: 48px;
  }
}
