<div class="main-conta-content">
  <header>
    <a href="">
      <img src="../../../../assets/images/left-arrow.png" alt="" />
    </a>
    <h2>Conta</h2>
  </header>

  <div class="conta-options">
    <h2>Informações pessoais</h2>

    <div class="option-content">
      <div class="option">
        <p class="first-paragraph">E-mail</p>
        <p class="second-paragraph">iarakinomotooutlook.com</p>
      </div>
      <img src="../../../../assets/images/arrow-right.png" alt="" />
    </div>

    <div class="option-content">
      <div class="option">
        <p class="first-paragraph">Senha</p>
        <p class="second-paragraph">Mudar Senha</p>
      </div>
      <img src="../../../../assets/images/arrow-right.png" alt="" />
    </div>

    <div class="option-content">
      <div class="option">
        <p class="first-paragraph">Número de telefone</p>
        <p class="second-paragraph">219******12</p>
      </div>
      <img src="../../../../assets/images/arrow-right.png" alt="" />
    </div>
  </div>

  <div class="desativacao-exclusao-content">
    <h2>Desativação e exclusão</h2>

    <div class="content-box">
      <div class="content">
        <h2>Desativar conta</h2>
        <a href="">Desativar sua conta temporariamente</a>
      </div>
      <img src="../../../../assets/images/arrow-right.png" alt="" />
    </div>

    <div class="content-box">
      <div class="content">
        <h2>Excluir conta</h2>
        <a href="">Excluir seus dados e a conta</a>
      </div>
      <img src="../../../../assets/images/arrow-right.png" alt="" />
    </div>
  </div>
</div>
