<div class="main-configuracoes-content">
  <h2>Configurações</h2>

  <div class="configuracoes-content">
    <div class="configuracoes-card">
      <div class="img-title">
        <img src="../../../../../assets/images/Moon.png" alt="" />
        <p>Modo noturno</p>
      </div>
    </div>

    <div class="configuracoes-card">
      <div class="img-title">
        <img src="../../../../../assets/images/smile.png" alt="" />
        <p>Conta</p>
      </div>
      <img class="arrow" src="../../../../../assets/images/arrow-right.png" alt="" />
    </div>

    <div class="configuracoes-card">
      <div class="img-title">
        <img src="../../../../../assets/images/sine.png" alt="" />
        <p>Notificações</p>
      </div>
      <img class="arrow" src="../../../../../assets/images/arrow-right.png" alt="" />
    </div>

    <div class="configuracoes-card">
      <div class="img-title">
        <img src="../../../../../assets/images/Sair.png" alt="" />
        <p>Sair</p>
      </div>
      <img class="arrow" src="../../../../../assets/images/arrow-right.png" alt="" />
    </div>
  </div>
</div>
