<div class="content">
  <a href="">
    <div class="home">
      <img src="../../assets/images/Home.png" alt="" />
      <p>Home</p>
    </div>
  </a>
  <a href="">
    <div class="learn">
      <img src="../../assets/images/book.png" alt="" />
      <p>Aprenda</p>
    </div>
  </a>
  <a href="">
    <div class="Comunicação">
      <img src="../../assets/images/messages.png" alt="" />
      <p>Comunicação</p>
    </div>
  </a>
  <a href="">
    <div class="profile">
      <img src="../../assets/images/perfil.png" alt="" />
      <p>Perfil</p>
    </div>
  </a>
</div>
