<section class="main">
  <div class="header">
    <img src="../../assets/images/Path.svg" alt="" />
    <h1>Cartilhas</h1>
    <img src="../../assets/images/Search.png" alt="" />
  </div>

  <div class="caminho">
    <a routerLink="/" class="text">Home ></a>
    <a routerLink="/aprenda" class="text">Neurodivergência ></a>
    <p class="title-page">Cartilhas</p>
  </div>

  <div class="tab">
    <a routerLink="/cartilhas">Tudo</a>
    <a routerLink="/cartilhas-salvo">Salvos</a>
  </div>

  <div class="cartilhas">
    <app-card-list [summaryTitle]="cartilhaDetailsTitle_1" [summaryParagraph]="cartilhaContent1"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_2" [summaryParagraph]="cartilhaContent2"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_3" [summaryParagraph]="cartilhaContent3"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_4" [summaryParagraph]="cartilhaContent4"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_5"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_6"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_7"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_8"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_9"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_10"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_11"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_12"> </app-card-list>

    <app-card-list [summaryTitle]="cartilhaDetailsTitle_13"> </app-card-list>
  </div>
</section>
