@import '../../../../../../../styles/main.scss';

.announcements {
  margin-bottom: 30px;

  .announcement-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 30px;
    }
    a {
      text-decoration: none;
      color: $primary-base;
      p {
        font-size: 14px;
      }
    }
  }

  .announcement-card {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset;
    gap: 15px;
    background-color: $primary-lightest;
  }
}

.announcement-text {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .announcements {
    .announcement-detais {
      display: flex;
      gap: 24px;
      flex-direction: column;

      .announcement-card {
        display: flex;
        margin: 10px 0;
        padding: 10px;
        height: 230px;
        width: 450px;
        border-radius: 10px;
        box-shadow: inset;
        gap: 15px;
        background-color: $primary-lightest;
      }

      .announcement-text{
        h2 {
          font-size: 24px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }
}
